// .header-todos {
//   opacity: 0;
// }

.todo-marvel-transition-appear {
  &.header-todos {
    opacity: 1;
  }

  &.header-marvel {
    opacity: 0;
  }

  &.todo-marvel-transition-appear-active {
    transition: opacity 10s ease-in;

    &.header-todos {
      opacity: 0;
    }

    &.header-marvel {
      opacity: 1;
    }
  }
}

@import '../../temp/res/imgs/icons/sprite-avengers';
@import '../../temp/res/imgs/icons/sprite-marvel';
